.course-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.course-card-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 3px 16px 0px #bfbfbf;
  border-radius: 6px;
}

.course-image-element {
  width: 250px;
}

.course-content {
  padding: 5px 20px 5px 20px;
}

.course-name {
  font-size: 28px;
  color: #1e293b;
}

.course-description {
  color: #64748b;
  font-size: 22px;
  font-family: 'Bree Serif';
}
